@page
@model WebRazorPage.Pages.ManagerOffice.Job.DeleteModel

@{
    ViewData["Title"] = "Delete";
    var role = HttpContext.Session.GetString("ROLE");
    var accountId = HttpContext.Session.GetString("ACCOUNTID");
}
@if (role == "MANAGER_OFFICE")
{
    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Job</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.TaskId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.TaskId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.CreatorId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.CreatorId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.EmployeeId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.EmployeeId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.NameTask)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.NameTask)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.emailEmployee)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.emailEmployee)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.CreatedAt)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.CreatedAt)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.Deadline)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.Deadline)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.Status)
            </dd>

            @if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <p class="alert alert-danger" role="alert">@ViewData["Message"]</p>
            }
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Job.TaskId" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-page="./Index">Back to List</a>
        </form>
    </div>
}
else if (role == "STAFF")
{

    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Job</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.TaskId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.TaskId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.CreatorId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.CreatorId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.EmployeeId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.EmployeeId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.NameTask)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.NameTask)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.emailEmployee)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.emailEmployee)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.CreatedAt)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.CreatedAt)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.Deadline)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.Deadline)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Job.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Job.Status)
            </dd>

            @if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <p class="alert alert-danger" role="alert">@ViewData["Message"]</p>
            }
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Job.TaskId" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-page="./Index">Back to List</a>
        </form>
    </div>

}