@page
@model WebRazorPage.Pages.FeedBack.IndexModel

@{
    ViewData["Title"] = "Index";
    var role = HttpContext.Session.GetString("ROLE");
    var accountId = HttpContext.Session.GetString("ACCOUNTID");
}
@if (!string.IsNullOrEmpty(role))
{
    <h1>Index</h1>
    <a href="/UIROLE" class="btn btn-primary">Back</a>

    <p>
        <a asp-page="Create">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Feedback[0].FeedBackId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Feedback[0].Comment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Feedback[0].CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Feedback[0].NumberFeedBack)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Feedback[0].Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Feedback[0].AccountId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Feedback[0].EquipmentId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Feedback)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FeedBackId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberFeedBack)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EquipmentId)
                    </td>

                    <td>
                        @*<a asp-page="./Edit" asp-route-id="@item.FeedBackId">Edit</a> |*@
                        <a asp-page="./Details" asp-route-id="@item.FeedBackId">Details</a> 
                        @*<a asp-page="./Delete" asp-route-id="@item.FeedBackId">Delete</a>*@

                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <p class="alert alert-danger" role="alert">@ViewData["Message"]</p>
    }
}