@page
@model WebRazorPage.Pages.ManagerOffice.Resource.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Resource[0].ResourcesId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resource[0].TaskId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resource[0].NameResource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resource[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resource[0].UsedQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resource[0].TotalQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resource[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resource[0].Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resource[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resource[0].Image)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Resource)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ResourcesId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameResource)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsedQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @*<a asp-page="./Edit" asp-route-id="@item.ResourcesId">Edit</a> |*@
                    <a asp-page="./Details" asp-route-id="@item.ResourcesId">Details</a>
                    @*<a asp-page="./Delete" asp-route-id="@item.ResourcesId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
